body {
    margin: 100px;
    font-family: sans-serif;
}
table {
    border: 1px solid black;
    table-layout: fixed;
    width: 200px;
  }
  
  th,
  td {
    border: 1px solid black;
    width: 500px;
    overflow: hidden;
  }