{% extends 'base.html' %}
{% block head %}
    <title>JSON Converter</title>
{% endblock %}
{% block body %}
    <div class="content">
      <h1>JSON reader</h1>

      <form action="/" method="POST">
        <input type="text" name="jsonString" id = "content">
        <input type="submit" value="Submit">
      </form>
      <table>
         <tr>
          <th>JSON String</th>
          <th>Class Object</th> 
         </tr>
         <tr>
          <td>{{ jsonString }}</td>
          <td>{{ classObject }}</td>
         </tr>
      </table>
    </div>
{% endblock %}